p {
    color: var(--text-color);
}

.about {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg);
    font-family: 'Assistant';
}

.about-message-section {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 710px;
    /* top: 134px; */
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(190, 184, 235, 0.8),
            rgba(190, 184, 235, 0.8)), linear-gradient(0deg,
            rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)),
        linear-gradient(0deg, rgba(190, 184, 235, 0.1),
            rgba(190, 184, 235, 0.1)), url(../Data/about.svg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 20%;
}

/* .about-title {
    font-style: normal;
    font-weight: 700;
    font-size: 5em;
    line-height: 105px;
    color: #3D3061;
} */
.about-title {
    font-style: normal;
    font-weight: bold;
    font-size: calc(var(--nav-size) * .8);
    line-height: calc(var(--nav-size) * .8);
    color: var(--text-header-color);
}

.about-text {
    text-align: center;
    font-weight: 600;
    font-size: 2.5em;
    line-height: 47px;
    color: var(--text-header-color);
    margin: 3rem
}

/* .goal-message-section {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 710px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
} */
.goal-message-section {
    position: relative;
    align-items: center;
    justify-content: center;
    /* width: 100%;
    height: calc(var(--nav-size) * .8 * .8 * .8 * .8 * .8 * .8 * .8 * .8 * .8 * .8); */
    width: 100%;
    height: 710px;
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
}

.goal-title {
    font-style: normal;
    font-weight: 700;
    font-size: 3.5em;
    line-height: 78px;
    transform: translate(0%, -70%);
    color: var(--text-title-color)
}

.goal-text {
    text-align: center;
    min-width: 10%;
    max-width: 1000px;
    max-height: 50%;
    min-height: 20%;
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    line-height: 52px;
    transform: translate(0%, 10%);
    color: var(--text-subtitle-color);
}

.team-members-title {
    padding-top: 40px;
    margin-top: 0px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    font-size: 4em;
    color: var(--text-title-color);
}

.team-members-section {
    background: var(--bg);
}

.team-members-subtitle {
    font-style: normal;
    text-align: center;
    font-weight: 700;
    font-size: 2em;
    color: var(--text-subtitle-color);
}

/* .picture-container {
    display: grid; 
    grid-template-columns: auto auto auto; 
    grid-template-rows: auto 80px auto 80px auto 80px; 
    column-gap: 30px;
    row-gap: 10px;
    width: 1000px; 
    margin: 0 auto; 
    padding-bottom: 90px
} */
.picture-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    justify-content: center;
}

.picture {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-title {
    display: flex;
    justify-content: center;
    align-items: center;

}

@media only screen and (max-width: 768px) {
    .picture-container {
        grid-template-columns: auto;
    }

    .about-message-section {
        position: relative;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 500px;
        /* top: 134px; */
        display: flex;
        flex-direction: column;
        background: linear-gradient(0deg, rgba(190, 184, 235, 0.8),
                rgba(190, 184, 235, 0.8)), linear-gradient(0deg,
                rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)),
            linear-gradient(0deg, rgba(190, 184, 235, 0.1),
                rgba(190, 184, 235, 0.1)), url(../Data/about.svg);
        background-size: cover;
        background-attachment: fixed;
        background-position: 20%;
    }


    .about-title {
        font-style: normal;
        font-weight: 700;
        font-size: 3em;
        line-height: 105px;
        color: var(--text-header-color);
    }

    .about-text {
        text-align: center;
        font-weight: 700;
        font-size: 2em;
        /* line-height: 20px; */
        color: var(--text-header-color);
    }

    .goal-message-section {
        position: relative;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 500px;
        /* top: 134px; */
        display: flex;
        flex-direction: column;
        background: var(--bg);
    }

    .goal-title {
        font-style: normal;
        font-weight: 700;
        font-size: 2.45em;
        line-height: 78px;
        padding-bottom: 40px;
        color: var(--text-title-color);
    }

    .goal-text {
        text-align: center;
        max-width: 500px;
        font-style: normal;
        font-weight: 400;
        font-size: 1em;
        line-height: 30px;
        color: var(--text-color);
    }
}