:root {
    --bg: #fcfcfc;
    --bg-accent: #ffffff;
    --bg-hover: #e5e5e5;
    --text-color: #4b2e83;
    --text-header-color: #3e2076;
    --text-subtitle-color: #3e2076;
    --nav-bottom: #3e2076;
    --nav-size: 60px;
    --border: 1.5px solid #474a4d;
    --border-radius: 8px;
    --speed: 350ms;
}

.dark-mode {
    --bg: #242526;
    --bg-accent: #484a4d;
    --bg-hover: #525357;
    --text-color: #d5cedc;
    --text-title-color: #d5c6f8;
    --text-subtitle-color: #beb8eb;
    --nav-bottom: #a277f4;
    --border: 1px solid #474a4d;
}

@font-face {
    font-family: 'Assistant';
    src: url('../Data/Assistant-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Data/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.events-section {
    display: flex;
    flex-direction: column;
}

.calendar-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    background-color: var(--bg);
    padding: 50px 10px;
}

.event-headers {
    font-size: 200%;
    color: var(--text-subtitle-color);
    text-align: center;
    font-family: 'Assistant';
}

.upcoming-events-section {
    display: flex;
    flex-direction: row;
    background-color: var(--bg);
    justify-content: space-evenly;
    height: 30rem;
    background-color: var(--bg-accent);
    padding: 50px 10px;
}

.upcoming-event-images {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.upcoming-event-group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}

.upcoming-image {
    display: inline-flex;
    width: 25rem;
    border-radius: 20px;
}

.upcoming-event-info {
    font-family: 'Assistant';
    font-size: 0.7rem;
    padding-left: 1rem;
}

.curr-event-title {
    color: #BEB8EB;
    font-family: 'Assistant';
    font-size: 200%;
    margin: 0rem;
}

.curr-event-description {
    font-size: 120%;
    line-height: 1.2rem;
}

.rsvp-btn {
    font-family: 'Roboto';
    font-size: 0.55rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--text-color);
    box-sizing: border-box;
    background: var(--bg);
    padding: 4px 10px;
    border-radius: 20px;
    border: 1px solid #7E6D90;
}

.rsvp-btn:hover {
    transform: scale(1.2);
}

.rsvp-btn:active {
    color: var(--bg);
    background-color: #7E6D90;
}

.past-events-section {
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
}

.past-events {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.past-event {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}

.past-event-image {
    width: 14rem;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .past-event-image {
        width: 20rem;
        border-radius: 10px;
    }
}

.past-event-title {
    font-family: 'Assistant';
    color: #BEB8EB;
    font-size: 100%;
    text-align: left;
    line-height: 0.5rem;
}

.past-event-description {
    line-height: 1rem;
    font-family: 'Assistant';
    font-size: 75%;
    text-align: left;
}

/*Default settings*/
.calendar {
    border: 0px;
    width: 800px;
    height: 600px;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
    .calendar {
        border: 0;
        width: 600px;
        height: 450px;
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 480px) {
    .calendar {
        border: 0;
        width: 450px;
        height: 338px;
        margin-bottom: 1rem;
    }
}