@font-face {
    font-family: 'Roboto';
    src: url('../Data/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

  /* Start of the footer CSS */

footer {
    display: flex;
    justify-content: space-between;
    background-color: #BEB8EB;
    padding: 20px;
  }
  
  /* Controls the flexbox for the contact and copyright sections */
  .contact-copyright-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* Controls the flexbox for the contact section */
  .contact {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 20px;
  }
  
  /* Controls the text styling for the text of contact */
  #contact-text {
    margin-right: 10px;
    color: #FFFFFF;
    font-size: 1rem;
    font-family: 'Roboto';
    font-weight: bold;
  }
  
  /* Styling for the images of the textbox */
  .contact-images {
    margin-left: 10px;
    height: 20px;
  }
  
  /* Controls the styling for teh copyright section */
  .copyright {
    display: flex;
    flex: row;
    align-items: center;
  }
  
  /* Styling for the footer images */
  #footer-logo {
    display: flex;
    height: 40px;
  }
  
  /* Styling for the message of the copyright */
  #copyright-message {
    display: flex;
    margin-top: 30px;
    margin-bottom: -10px;
    margin-left: 10px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
  }
  
  /* Styling for the message under the copyright */
  #collaboration-message {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: lighter;
    font-size: 0.7rem;
  }
  
  /* styling for the email entering peice of the text */
  .email-hook {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Styling for the message of above the email box */
  .email-message {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 15px;
  }
  
  /* Styling for the stay in touch message */
  #stay-in-touch {
    font-size: 150%;
    font-weight: bold;
    margin-bottom: -15px;
  }
  
  /* Styling for join newsletter message */
  #join-newsletter {
    text-align: center;
    font-size: 100%;
  }
  
  /* Styling for the larger email box */
  .email-box {
    font-size: 9px;
    box-sizing: border-box;
    background: #E5E2ED;
    border: 1.5px solid #5941A9;
    display: flex;
    border-radius: 34px;
    padding-left: 7px;
    padding-right: 7px;
    height: 60px;
    align-items: center;
    justify-self: center;
  }
  
  /* Styling for the enter your email message */
  .email-enter {
    font-size: 15px;
    color: #3D3061;
    font-family: 'Roboto';
    padding-bottom: 1px;
    border-bottom: 1px solid #FFFFFF;
    border: 0px;
    background-color: #E5E2ED;
  }

  .email-enter:focus {
    outline:none;
    border-bottom: 0.1rem solid #FFFFFF;
  }
  
  /* Styling for the subscribe button of the enter your email*/
  #subscribe-btn {
    font-size: 0.55rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #4B2E83;
    margin-left: 30px;
    box-sizing: border-box;
    background: #FFFFFF;
    padding: 4px 10px;
    border-radius: 20px;
    border: 0px;
  }

  #subscribe-btn:hover {
    transform: scale(1.2);
  }
  
  #subscribe-btn:active {
    color: #FFFFFF;
    background-color: #4B2E83;
  }
  /* End of the footer content  */