footer {
  bottom: 0;
  display: flex;
  background-color: #2e2f33;
  padding: 20px;
}

.footer-contents-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.copyright-message {
  display: flex;
  color: var(--neutral-50);
  font-size: 1rem;
  font-family: var(--font-ui);
  font-weight: bold;
}

a {
  text-decoration: none;
}

footer svg {
  height: clamp(1.35rem, 2.4vw, 1.75rem);
  width: clamp(1.35rem, 2.4vw, 1.75rem);
  color: var(--neutral-50);
}

@media only screen and (max-width: 768px) {
  .footer-contents-container {
    flex-direction: column;
  }
  .collaboration-message-link {
    flex-basis: 40%;
    display: flex;
  }

  footer svg {
    height: 7vw;
    width: 7vw;
    color: var(--neutral-50);
  }
}
