footer {
  display: flex;
  background-color: #beb8eb;
  padding: 20px;
}

.footer-contents-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.links-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  justify-content: space-between;
  padding-right: 5%;
}

.copyright-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  justify-content: space-between;
  padding-left: 5%;
}

.contact-text,
.join-newsletter {
  display: flex;
  color: #36454f;
  font-size: 1rem;
  font-family: "Roboto";
  font-weight: bold;
}

.contact-text {
  flex-basis: 10%;
}

.join-newsletter {
  flex-basis: 30%;
}

.contact-images {
  display: flex;
  flex-basis: 5%;
  height: 30px;
}

a {
  flex-basis: 10%;
  text-decoration: none;
}

.copyright-message {
  display: flex;
  flex-basis: 45%;
  color: #36454f;
  font-size: 1rem;
  font-family: "Roboto";
  padding-left: 5%;
  font-weight: bold;
}

.collaboration-message {
  flex-basis: 45%;
  display: flex;
  color: #36454f;
  font-family: "Roboto";
  font-weight: lighter;
  font-size: 0.7rem;
}

.footer-logo {
  display: flex;
  height: 40px;
}
