.full-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  margin-bottom: 1%;
  border-top: 1.2px solid #7e6d90;
  border-bottom: 1.2px solid #7e6d90;
  align-items: center;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 2%;
  padding-right: 2%;
}

.nav-link:hover {
  color: #d7c464;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-link {
  font-size: 15px;
  text-decoration: none;
  margin: 5px;
  font-weight: bold;
  font-family: "Roboto";
  color: #7e6d90;
}

.join-now-btn {
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  background: #ffffff;
  border: 1.5px solid #7e6d90;
  border-radius: 34px;
  padding: 4px 10px;
}

.join-now-btn:hover {
  background-color: #7e6d90;
  color: #ffffff;
}

.header-logo {
  display: flex;
  align-items: center;
}

.nav-logo {
  height: 4000px;
  color: white;
}

ul {
  margin: 0;
}
