.clubTitleSection {
  position: relative;
  width: 100%;
  height: 26vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 30px 0;
}


.uw-logo,
.clubName,
.whatWeDoSection h2,
.whatWeDoSection p {
  animation: slide-up 0.5s ease-out;
}

.uw-logo {
  width: 25%;
  margin-top: 20px;

}

.buttons-container {
  position: absolute;
  top: 50%;
  width: 95%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.prevImgButton,
.nextImgButton {
  padding: 10px;
  border-radius: 50%;
  border: none;
  background-color: var(--backgroundImg-buttom-background);
  color: var(--backgroundImg-buttom);
  font-size: 50px;
  width:  60px;
  height:  60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.prevImgButton:hover,
.nextImgButton:hover {
  color: var(--text-title-color);
}

.clubName {
  font-size: 4vw;
  color: var(--text-header-color);
  text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.5);
}

.whatWeDoSection {
  background-color: var(--bg);
  padding: 5rem 100px;
  text-align: center;
  margin: 20px 30px;
}

h3 {
  color: var(--text-title-color);
}

.summaryTitle,
h2.sweccMeetings {
  color: var(--text-title-color);
  margin: 10px 0;
}

.summaryTitle {
  font-size: 2.5rem;
  margin: 30px;
}

.summary,
.meetingsSection p.meetingInfo,
.meetingsSection p.meetingDetails {
  font-size: 1.5rem;
  color: var(--text-color);
  line-height: 1.5;
}

.whatWeDoSection p.summary {
  font-size: 2rem;
  font-weight: 100;
  color: var(--text-color);
}

.homepage p {
  font-size: 20px;
  color: var(--text-color);
}

.meetingsSection {
  padding: 4rem 10rem;
  display: flex;
  justify-content: center;
  background-color: var(--bg-accent);
}

.meetingsInfoSection {
  flex: 1;
  padding: 20px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.sweccMeetings {
  font-size: 1.8rem;
}
h3.meetingTime {
  font-size: 1.6rem;
  margin: 10px 0;
}

.map-and-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.map {
  width: 400px;
  height: auto;
  margin: 30px 30px 0 30px;
  border-radius: 8px;
}

.mapLabel {
  color: var(--text-color);
  font-size: 16px;
}

.sweccMeetings,
.meetingInfo,
.meetingDetails {
  margin: 0;
}

.meetingTime {
  margin: 0;
  padding-top: 2vw;
}

.goal-message-section {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
}

.goal-title {
  font-size: 3em;
  transform: translate(0%, -70%);
  color: var(--text-title-color);
}

.goal-text {
  text-align: center;
  min-width: 10%;
  max-width: 1000px;
  max-height: 50%;
  min-height: 20%;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 52px;
  transform: translate(0%, 10%);
  color: var(--text-subtitle-color);
}

.posts {
  margin: 50px 35px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--bg);
}

.instaPost {
  margin: 15px 25px;
  transition: transform 0.3s ease-in-out;
}

.instaPost:hover {
  transform: scale(1.05);
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-up {
  animation: slide-up 0.5s ease-out;
}

@media (max-width: 1276px) {
  .meetingsSection {
    padding: 3rem 5rem;
  }
}

@media (max-width: 1076px) {
  .whatWeDoSection p.summary {
    font-size: 1.5rem;
  }

  div.posts {
    margin: 0;
  }
}

@media (max-width: 976px) {
  .meetingsSection {
    flex-direction: column;
    align-items: center;
  }

  .summaryTitle {
    font-size: 2rem;
    margin: 30px;
  }

  .meetingsInfoSection {
    align-items: center;
    margin: 10px;
  }

  .meetingsSection p.meetingInfo,
  .meetingsSection p.meetingDetails {
    text-align: center;
    font-size: 1.3rem;
    padding: 0 20px;
  }

  .map-and-label {
    padding-right: 0;
  }

  .map {
    width: 70%;
  }
}

@media (max-width: 830px) {
  .posts {
    flex-direction: column;
    padding: 2rem 5rem;
  }

  .instaPost {
    margin: 20px 0;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .goal-message-section {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    background: var(--bg);
  }

  .goal-title {
    font-style: normal;
    font-weight: 700;
    font-size: 2.45em;
    line-height: 78px;
    padding-bottom: 40px;
    color: var(--text-title-color);
  }

  .goal-text {
    text-align: center;
    max-width: 500px;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 30px;
    color: var(--text-color);
  }

  .whatWeDoSection,
  .meetingsSection {
    padding: 1rem;
  }

  .summaryTitle,
  .sweccMeetings,
  .meetingsInfoSection .meetingTime {
    font-size: 1.5rem;
  }

  .whatWeDoSection p.summary,
  .meetingsInfoSection p.meetingInfo,
  .meetingsInfoSection p.meetingDetails {
    font-size: 1rem;
  }

  h3.meetingTime {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .posts {
    padding: 1.5rem;
  }

  .instaPost {
    width: 100%;
    max-width: 100%;
  }

  .clubTitleSection {
    height: 30vw;
    padding: 1rem 0;
  }

  .uw-logo {
    width: 30%;
  }

  .clubName {
    font-size: 5vw;
    color: var(--text-header-color);
  }
}
