:root {
  --bg: #fcfcfc;
  --bg-accent: #ffffff;
  --bg-hover: #e5e5e5;
  --text-color: #3e2076;
  --nav-bottom: #3e2076;
  --nav-size: 60px;
  --border: 1.5px solid #474a4d;
  --border-radius: 8px;
  --speed: 350ms;
}

.dark-mode {
  --bg: #242526;
  --bg-accent: #484a4d;
  --bg-hover: #525357;
  --text-color: #dadce1;
  --nav-bottom: #a277f4;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 350ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
}

.navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: .5rem 1.5rem;
  border-bottom: 2px solid var(--nav-bottom);
}

/* <ul> */
.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

/* <li> */
.navbar-nav li:first-child {
  margin-right: auto;
}

.swecc-logo {
  height: calc(var(--button-size) * 1.4);
  border-radius: .6rem;
  overflow: hidden;
}

.nav-item {
  width: calc(var(--nav-size) * 0.8);
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 3px;
}

/* Icon Button */
.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: var(--bg-accent);
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
  border: 2px solid var(--bg-hover);
}

.icon-button:hover {
  background-color: var(--bg-hover);
  transition: all var(--speed) ease;
  cursor: pointer;
}

.icon-button.no-action {
  cursor: default;
  pointer-events: none;
  border: none;
  background-color: var(--bg);
}

/* testing */
.icon-button.tooltip {
  position: relative;
}

.icon-button.tooltip::before {
  content: attr(data-tooltip);
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #1b1b1b;
  color: white;
  padding: 3px 8px;
  font-size: 15px;
  border-radius: 5px;
  opacity: 0;
  z-index: 2;
}

.icon-button.tooltip:hover::before {
  opacity: 1;
}

/*  */

.icon-button svg {
  fill: var(--text-color);
  width: 22px;
  height: 22px;
}

.dropdown {
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
  box-shadow: 0 10px 10px #00000033;
  z-index: 1;
}

.menu {
  width: 100%;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
  cursor: pointer;
}

.menu-item .icon-button {
  margin-right: 0.5rem;
}

.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
  background-color: var(--bg-hover);
}

.icon-right {
  margin-left: auto;
  background-color: var(--bg-accent);
  border-radius: 50%;
  /* padding: 5px; */
  display: flex;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}

.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-primary-exit {
  position: absolute;
}

.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}

.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}