ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
}

.navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 1rem 1.5rem 1.8rem;
  border-bottom: 2px solid var(--nav-bottom);
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.navbar-nav li:first-child {
  margin-right: auto;
}

.swecc-logo {
  height: calc(var(--button-size) * 1.4);
  border-radius: 0.6rem;
  overflow: hidden;
}

.nav-item {
  width: calc(var(--nav-size) * 0.8);
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 8px;
  text-align: center;
  flex-direction: column;
}

.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: var(--bg-accent);
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
  border: 2px solid var(--bg-hover);
}

.nav-page {
  margin-top: 23px;
}

.nav-expand .icon-button {
  margin: 0;
}

.icon-button:hover {
  background-color: var(--bg-hover);
  transition: all var(--speed) ease;
  cursor: pointer;
}

.icon-button.no-action {
  cursor: default;
  pointer-events: none;
  border: none;
  background-color: var(--bg);
}

.icon-button.tooltip {
  position: relative;
}

.icon-button.tooltip::before {
  content: attr(data-tooltip);
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  color: var(--subtitle-color);
  padding: 3px 8px;
  font-size: 15px;
  font-weight: 800;
  border-radius: 5px;
}

.icon-button.tooltip:hover::before {
  opacity: 1;
}

.icon-button svg {
  fill: var(--text-color);
  width: 22px;
  height: 22px;
}

@keyframes slideDown {
  0% {
    transform: translateY(-10%) translateX(-45%);
    opacity: 0;
  }
  100% {
    transform: translateY(0) translateX(-45%);
    opacity: 1;
    transition: all 0.2s ease;
  }
}

.dropdown {
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  transition: all 0.2s ease;
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
  box-shadow: 0 10px 10px #00000033;
  z-index: 6;
  animation: slideDown 0.3s ease;
}

.menu {
  width: 100%;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
  cursor: pointer;
}

.menu-item .icon-button {
  margin-right: 0.5rem;
}

.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
  background-color: var(--bg-hover);
}

.icon-right {
  margin-left: auto;
  background-color: var(--bg-accent);
  border-radius: 50%;
  display: flex;
}

.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}

.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-primary-exit {
  position: absolute;
}

.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}

.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}
