.about-message-section {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    text-align: center;
}

.goal-message-section {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    text-align: center;
}