@font-face {
    font-family: 'Assistant';
    src: url('./Assistant-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.events-section {
    display: flex;
    flex-direction: column;
}

.calendar-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.event-headers {
    font-size: 200%;
    color: #BEB8EB;
    text-align: center;
    font-family: 'Assistant';
}

.upcoming-events-section {
    display: flex;
    flex-direction: row;
    background-color: #F8F5F5;
    justify-content: space-evenly;
    height: 30rem;
}

#upcoming-event-images {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#upcoming-event-infos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}

.upcoming-image {
    display: inline-flex;
    width: 25rem;
    border-radius: 20px;
}

#upcoming-event-info {
    font-family: 'Assistant';
    font-size: 0.7rem;
    padding-left: 1rem;
}

.curr-event-title {
    color: #BEB8EB;
    font-family: 'Assistant';
    font-size: 200%;
    margin: 0rem;
}

.curr-event-description {
    font-size: 120%;
    line-height: 1.2rem;
}

#rsvp-btn {
    font-family: 'Roboto';
    font-size: 0.55rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #7E6D90;
    box-sizing: border-box;
    background: #FFFFFF;
    padding: 4px 10px;
    border-radius: 20px;
    border: 1px solid #7E6D90;
  }

  #rsvp-btn:hover {
    transform: scale(1.2);
  }
  
  #rsvp-btn:active {
    color: #FFFFFF;
    background-color: #7E6D90;
  }

.past-events-section {
    display: flex;
    flex-direction: column;
}

.past-events {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.past-event {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}

.past-event-image {
    width: 14rem;
    border-radius: 10px;
}

@media (min-width: 768px){
    .past-event-image {
        width: 20rem;
        border-radius: 10px;
    }
}

.past-event-title {
    font-family: 'Assistant';
    color: #BEB8EB;
    font-size: 100%;
    text-align: left;
    line-height: 0.5rem;
}

.past-event-description {
    line-height: 1rem;
    font-family: 'Assistant';
    font-size: 75%;
    text-align: left;
}

/*Default settings*/
.calendar { 
    border: 0px;
    width: 800px; 
    height: 600px;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
    .calendar {
      border: 0; 
      width: 600px; 
      height: 450px;
      margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 480px) {
    .calendar {
        border: 0; 
        width: 450px; 
        height: 338px; 
        margin-bottom: 1rem;
    }
}