name: 'Close stale PRs'
on:
  schedule:
    - cron: '30 1 * * *'

permissions:
  pull-requests: write

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v9
        with:
          stale-pr-message: 'Marking as stale since there has been no activity for 30 days. Will close in 7 days if no activity.'
          days-before-stale: 30
          days-before-close: 7
          stale-pr-label: 'stale'
          exempt-pr-labels: 'pinned,security'
          days-before-issue-stale: 700